@mixin mobileFlip {
  .project-content {
    .flip-card-front {
      visibility: hidden;
    }

    .flip-card-inner {
      transform: rotateY(180deg);
    }

    .back-title {
      visibility: visible;
    }
  }
}

// Widescreen
@include mediaXl {
  .project-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Laptop
@include mediaLg {
  .about-info {
    grid-template-areas:
      'icons bio'
      'job1 job2'
      'job3 job4';

    grid-template-columns: 1fr 1fr;
  }

  .project-content {
    grid-template-columns: repeat(2, 1fr);
  }

  // @include mobileFlip;
}

// Tablet
@include mediaMd {
  section {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      // background: url(../img/portrait_small.jpg);
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      'icons'
      'bio'
      'job1'
      'job2'
      'job3'
      'job4';

    grid-template-columns: 1fr;
  }

  .project-content {
    grid-template-columns: 1fr;
  }

  @include mobileFlip;
}

// Mobile
@include mediaSm {
  section#home h1 {
    margin-top: 5vh;
  }

  .project-content {
    grid-template-columns: 1fr;
  }

  @include mobileFlip;
}
