@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;

    .text-secondary {
      border-bottom: #fff 2px solid;
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;

    // background: rgba(lighten($primary-color, 5), 0.7);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

// Header
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

section {
  padding: 2rem 6rem;
  // height: 100%;
  min-height: 100vh;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

#home {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  h1,
  h2,
  h3 {
    text-align: center;

    &.lg-heading {
      padding: 1rem;
      background: rgba(lighten($primary-color, 5), 0.8);
      border-radius: 10px;
    }

    &.sm-heading {
      padding: 1rem;
      border-radius: 10px;
      background: rgba(lighten($primary-color, 5), 0.8);
    }
  }
}

// Skills section

#about {
  display: flex;
  width: 100%;
  // max-width: 800px;
  flex-direction: column;
  align-items: center;
  // background: #333;
  background: url(../img/backgrounds/black_compute.png) no-repeat;
  background-size: cover;

  .bio {
    background-color: #333;
    padding: 0.5rem;
    border-radius: 10px;
  }
}

.about-info {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'icons icons bio bio'
    'job1 job2 job3 job4';
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  justify-items: center;

  .icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    // width: 100px;
    // height: auto;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;

      &:hover {
        transform: scale(1.15);
        @include easeOut;
      }
    }
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job-4 {
    grid-area: job4;
  }

  .job {
    background: lighten($primary-color, 5);
    border-bottom: $secondary-color 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 250px;
    margin-top: 20px;

    i {
      padding: 1rem 0rem;
      color: $secondary-color;
    }

    h3 {
      // width: 100%;
      text-align: center;
      font-size: 1.5rem;
      border-bottom: #fff 1px solid;
    }

    ul {
      padding: 1rem 0rem;
    }

    li {
      list-style-type: none;
      text-align: center;
      font-size: 1.25rem;
    }
  }
}

// #work {
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   align-items: center;
//   background: #444;
// }

// .projects {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 1rem;
//   margin-top: 2rem;

//   img {
//     width: 100%;
//     border: 3px #fff solid;

//     &:hover {
//       opacity: 0.9;
//       border-color: $secondary-color;
//       @include easeOut;
//     }
//   }
// }

// Projects section
#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // background: #555;
  background: url(../img/backgrounds/trianglify.png) no-repeat;
  background-size: cover;

  h1 {
    margin-bottom: 3rem;
    color: #182848;
  }

  .text-secondary {
    color: #1900ff;
  }
}

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // justify-content: space-between;
  // justify-items: center;
  align-items: center;
  gap: 2rem;
}

// Flip cards
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  color: #000;

  h2 {
    position: absolute;
    top: 0;
    background: rgba(75, 108, 183, 0.8);
    width: 100%;
    color: #fff;
  }

  .project-skills {
    position: absolute;
    top: 225px;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #fff;

    ul {
      list-style-type: none;

      li {
        padding: 0.5rem 0;

        &:not(:last-child) {
          border-bottom: #444 1px solid;
        }
      }
    }
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  // background-image: url(../img/projects/project1.jpg);
  background: url(../img/projects/project1.jpg) no-repeat;
  background-size: cover;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  transform: rotateY(180deg);
  padding: 2rem;

  a {
    margin-top: 1rem;
  }
}

.project2 {
  .flip-card-front {
    background-image: url(../img/projects/project2.jpg);
  }

  h2 {
    background: rgba(213, 51, 105, 0.8);
  }

  .flip-card-back {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
}

.project3 {
  .flip-card-front {
    background-image: url(../img/projects/project3.jpg);
  }

  h2 {
    background: rgba(7, 0, 184, 0.8);
  }

  .flip-card-back {
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  }
}

// Buttons
.btn-default {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}

.btn {
  @extend .btn-default;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($secondary-color, 50);
  color: #333;
}

.btn-project {
  @extend .btn-default;
  background: darken($primary-color, 50);
  border-radius: 15px;
  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-out;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  // height: 60px;
}

@import 'media';
