@import 'config';
@import 'menu';
@import 'flipcard';
@import 'button';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;

  &.lg-heading {
    font-size: 5rem;

    .text-secondary {
      border-bottom: #fff 2px solid;
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;

    // background: rgba(lighten($primary-color, 5), 0.7);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

// Header
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.container {
  max-width: 1100px;
  text-align: center;
}

.text-secondary {
  color: $secondary-color;
}

section {
  padding: 2rem 6rem;
  // height: 100%;
  min-height: 100vh;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

#home {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  h1,
  h2,
  h3 {
    text-align: center;

    &.lg-heading {
      padding: 1rem;
      background: rgba(lighten(#000, 5), 0.5);
      border-radius: 10px;
      margin-bottom: 10px;
    }

    &.sm-heading {
      padding: 1rem;
      border-radius: 10px;
      background: rgba(lighten(#000, 5), 0.5);
    }
  }

  i {
    margin: 0 5px;
    margin-top: 5px;
  }
}

// Skills section

#about {
  display: flex;
  width: 100%;
  // max-width: 800px;
  flex-direction: column;
  align-items: center;
  // background: #333;
  background: url(../img/backgrounds/black_compute.png) no-repeat;
  background-size: cover;

  .bio {
    background: rgba($color: rgb(72, 77, 95), $alpha: 0.8);
    padding: 0.5rem;
    border-radius: 10px;
  }
}

.about-info {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'icons icons bio bio'
    'job1 job2 job3 job4';
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  justify-items: center;

  .icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    // width: 100px;
    // height: auto;
    justify-content: center;

    img {
      width: 100px;
      height: 100px;

      &:hover {
        transform: scale(1.15);
        @include easeOut;
      }
    }
  }

  .bio {
    grid-area: bio;
    font-size: 1.25rem;
    text-align: left;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job-4 {
    grid-area: job4;
  }

  .job {
    // background: lighten($primary-color, 5);
    background: rgba($color: rgb(72, 77, 95), $alpha: 0.8);
    border-bottom: $secondary-color 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 250px;
    margin-top: 20px;

    i {
      padding: 1rem 0rem;
      color: $secondary-color;
    }

    h3 {
      // width: 100%;
      text-align: center;
      font-size: 1.25rem;
      border-bottom: #fff 1px solid;
    }

    ul {
      padding: 1rem 0rem;
    }

    li {
      list-style-type: none;
      text-align: center;
      // font-size: 1.15rem;
    }
  }
}

// Projects section
#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // background: #555;
  background: url(../img/backgrounds/trianglify.png) no-repeat;
  background-size: cover;

  h1 {
    margin-bottom: 3rem;
    color: #182848;
  }

  .text-secondary {
    color: #1900ff;
  }
}

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  .back-title {
    visibility: hidden;
  }
}

.project1 {
  .flip-card-front {
    background-image: url(../img/projects/empire.jpg);
  }

  h2 {
    background: hsla(22, 89%, 49%, 0.9);
  }

  .flip-card-back {
    background: linear-gradient(90deg, #ec600e 0%, #2326d1 100%);
  }
}

.project2 {
  .flip-card-front {
    background-image: url(../img/projects/musicstream.jpg);
  }

  h2 {
    background: rgba(213, 51, 105, 0.9);
  }

  .flip-card-back {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
}

.project3 {
  .flip-card-front {
    background-image: url(../img/projects/project3.jpg);
  }

  h2 {
    background: rgba(7, 0, 184, 0.9);
  }

  .flip-card-back {
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  }
}

.project4 {
  .flip-card-front {
    background-image: url(../img/projects/project3.jpg);
  }

  h2 {
    background: rgba(204, 102, 42, 0.8);
  }

  .flip-card-back {
    background: linear-gradient(90deg, #cc662a 0%, #2326d1 100%);
  }
}

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  // background: lighten($primary-color, 5);
  background: #000;
  color: set-text-color($primary-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-size: 13px;

  .site-design {
    display: flex;
    align-items: center;

    i {
      margin-right: 20px;
    }
  }
}

@import 'media';
